html{
    margin-top:0;
    padding-top:0;
}

body {
    background-color: #15202b;
    margin-top:0;
    padding-top:0;
}


.pageTitle {
    color: #8899a6;
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: #15202b;
    text-transform: capitalize;
}

#header {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.sectionHeader {
    color: #22303c;
    border-bottom: solid black 1px;
    padding-bottom: 20px;
}

.first {
    background-image: url("MatrixRectangleMirrored.gif");
    padding-top: 75px;
}

#linkSection {
    padding-top: 100px;
    color: white;
}

.sectionNote {
    color: #192734;
    border: solid white 1px;
    background-color: #8899a6;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 1.4em;
}

.oneSpace {
    padding-left: 20px;
}

.twoSpace {
    padding-left: 40px;
}

.threeSpace {
    padding-left: 60px;
}

.fourSpace {
    padding-left: 80px;
}

#footer {
    text-align: center;
    color: #808080;
}

a, a:visited, a:hover, a:active {
    color: #1c5691;
    font-weight: bold;
}

.break {
    border: 1px solid white;
    width: 75%;
    margin-left: 0%;
}

.image {
    border: 2px solid black;
    width: 1000px;
    padding-left: 0px;
    margin-left: 30px;
}