html{
    margin-top:0;
    padding-top:0;
}

body {
    background-color: #15202b;
    margin-top:0;
    padding-top:0;
}


.pageTitle {
    color: #8899a6;
    text-decoration: underline;
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: #15202b;
}

.sectionHeader {
    color: #22303c;
    border-bottom: solid white 1px;
    padding-bottom: 20px;
}

.first {
    padding-top: 75px;
}

.sectionNote {
    color: #192734;
    border: solid white 1px;
    background-color: #8899a6;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 1.4em;
}

.oneSpace {
    padding-left: 20px;
}

.twoSpace {
    padding-left: 40px;
}