* {
    padding: 0;
    margin: 0;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    background-color: teal;
    min-height: 100px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    justify-content: flex-start;
    align-items: center;

    background-color: blue;
}

.navbar-item {
    height: 48px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: teal;
}