@font-face {
    font-family: Forest;
    src: url('Fonts/Pine-Forest.otf');
}

html {
    background-color: #2D112A;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
}

#banner-image {
    width: 100%;
    max-width: 2000px;
}

.break {
    background-color: #FF7E4A;
    height: 10px;
    width: 95%;
    margin-left: 2.5%;
    text-align: center;
    border-radius: 25px;
}

.break-bot {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    width: 95%;
    margin-left: 2.5%;
    text-align: center;
}

.content-block {
    border: 5px solid #7E0030;
    height: 500px;
    width: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #FFDCC8;
}

.content-title {
    font-size: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #2D112A;
    background-color: #FFDCC8;
    width: 100%;
    font-family: Forest, sans-serif;
    max-height: 45px;
}

.content-Image {
    width: 300px;
    height: 300px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.content-desc {
    display: flex;
    text-align: left;
    flex-direction: column;
    background-color: #FF7E4A;
    width: 100%;
}

.content-desc p {
    justify-content: flex-start;
    font-size: 15px;
    padding: 10px;
}

.content-button-box {
    background-color: #FF7E4A;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.content-button {
    color: #2D112A;
    background-color: #EF4339;
    padding: 10px 20px 10px 20px;
    border: #2D112A 3px solid;
    border-radius: 25px;
}

.content-button:hover {
    background-color: #7E0030;
    border: black 3px solid;
    color: #FFDCC8;
}


@media only screen and (max-width: 665px) {
    #banner {
        margin-top: 240px;
    }
}