#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
}

#banner-image {
    width: 100%;
    max-width: 2000px;
}

.break {
    background-color: red;
    height: 10px;
    width: 95%;
    margin-left: 2.5%;
    text-align: center;
    border-radius: 25px;
}

.break-bot {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: yellow;
    margin-top: 10px;
    width: 95%;
    margin-left: 2.5%;
    text-align: center;
}

.content-block {
    border: 5px solid black;
    height: 500px;
    width: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.content-title {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content-Image {
    width: 300px;
    height: 300px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.content-desc {
    display: flex;
    text-align: left;
    flex-direction: column;
    background-color: white;
    margin-bottom: 20px;
    width: 100%;
}

.content-desc p {
    justify-content: flex-start;
    font-size: 15px;
    padding: 10px;
}

.content-button {
    background-color: red;
    padding: 10px 20px 10px 20px;
}


@media only screen and (max-width: 665px) {
    #banner {
        margin-top: 240px;
    }
}